<div class="container">

    <div ng-include src="'navbar.html'"></div>
    <h3 class="text-center">I miei appuntamenti</h3>

    <br>
    <div class="row">
        <div class="appuntamento">
            <div class="row">
                <div class="col-sm-4 col-md-4" ng-repeat="app in appuntamenti | filter:ricerca | filtroPriorita:colore">
                    <div class="thumbnail text-center" style="border:2px solid {{app.priorita}}; border-radius:10px; min-height:210px;" ng-class="{'alta':app.priorita == '#ff0000','media':app.priorita == '#ffa500', 'bassa':app.priorita == '#007f00' }">
                        <div class="caption">
                            <h3>{{app.titolo}}</h3>
                            <p>{{app.data | date: 'dd/MM/yyyy'}} alle ore: {{app.data | date: 'HH:mm'}}</p>
                            <a class="btn btn-primary" role="button" style="float:left;margin-top:40px" ui-sref="dettaglio({id:app.id})">Vai!</a>
                            <a class="btn btn-danger" role="button" style="float:right;margin-top:40px" ng-click="elimina($index)">Elimina</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>