<div class="container">
    <div ng-include src="'navbar.html'"></div>
    <div ng-show="loading" class="text-center">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="caption text-center" ng-hide="loading">
                <form ng-submit="modifica()" novalidate>
                    <div class="form-group">
                        <label for="titolo">Titolo</label>
                        <input type="text" id="titolo" class="form-control" ng-model="appuntamento.titolo"></input>
                    </div>
                    <div class="form-group">
                        <label for="descrizione">Descrizione</label>
                        <input type="text" id="descrizione" class="form-control" ng-model="appuntamento.descrizione"></input>
                    </div>
                    <div class="form-group">
                        <label for="luogo">Luogo</label>
                        <input type="text" id="luogo" class="form-control" ng-model="appuntamento.luogo"></input>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="appuntamento.priorita">
                            <option style="background-color:#ff0000" value="#ff0000">Alta</option>
                            <option style="background-color:#ff0000" value="#ffa500">Media</option>
                            <option style="background-color:#ff0000" value="#007f00">Bassa</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="datetime-local" ng-model="appuntamento.data">
                    </div>
                    <button type="submit" ui-sref="/">Salva</button>
                </form>
            </div>
        </div>
    </div>
</div>